flask==3.1.2
langchain==0.3.27
langchain-openai==0.3.34
langchain-pinecone==0.2.12
langchain-community==0.3.30
langchain-core==0.3.78
langchain-text-splitters==0.3.11
openai==2.1.0
pinecone==7.3.0
pydantic==2.11.9
python-dotenv==1.0.1
